/* src/styles/Home.css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ecf0f1;
    /* Cor de fundo suave */
    text-align: center;
}

.home-container h1 {
    font-size: 2.5rem;
    color: #2f3640;
}

.home-container p {
    font-size: 1.2rem;
    color: #7f8c8d;
}

.start-button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 50%;
}

.start-button:hover {
    background-color: #2980b9;
}