
.navbar {
    background-color: #333333;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Limitar a largura da navbar */
}

.navbar-logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    flex-shrink: 0; /* Evita que o logo encolha */
}

.navbar-links ul {
    display: flex;
    gap: 20px;
    list-style: none;
    text-align: center;
    position: relative;
    margin-right: auto; /* Garante que os links se alinhem à esquerda */
}

.navbar-item {
    color: #fff;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: normal;
    padding: 5px 10px;
    border-radius: 4px;
    transition: color 0.3s ease;
}

.navbar-item:hover {
    color: #298be7;
}

.navbar-toggle {
    display: none;
}

.user-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative; /* Para posicionar o dropdown corretamente */
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 40px; /* Ajustado para aparecer abaixo do ícone */
    background-color: #333;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 150px; /* Largura fixa para o menu dropdown */
    z-index: 1100; /* Garantir que o menu fique sobre os outros elementos */
    visibility: hidden; /* Usando visibility ao invés de display */
}

.dropdown-menu.active {
    visibility: visible; /* Tornar visível quando ativo */
}

.dropdown-logout-btn {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    text-align: left;
}

.dropdown-logout-btn:hover {
    background-color: #298be7;
}

.logout-btn-desktop {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: none; /* Iniciado invisível */
}

.logout-btn-mobile {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    text-align: left;
    display: none; /* Iniciado invisível */
}

.logout-btn-desktop:hover,
.logout-btn-mobile:hover {
    background-color: #298be7;
}

@media (max-width: 768px) {
    .navbar-links {
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100vh;
        background-color: #333;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        transition: left 0.3s ease;
        list-style: none;
        padding-top: 60px; /* Para dar espaço ao conteúdo do menu hamburguer */
        padding-left: 20px;
    }
    
    .navbar-links.active {
        left: 0;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
        color: #ffffff;
        font-size: 30px;
        z-index: 1200;
        right: 30px;
        position: fixed;
    }

    .toggle-icon.open {
        transform: rotate(90deg);
    }

    .user-icon {
        display: none; /* Oculta o ícone de usuário no mobile */
    }

    .logout-btn-desktop {
        display: none; /* Oculta o botão de logout no desktop */
    }

    .logout-btn-mobile {
        display: block; /* Exibe o botão de logout no menu hamburguer */
    }

    .dropdown-menu {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 20px;
        background-color: #333;
        border-radius: 0;
        box-shadow: none;
        z-index: 1050;
        visibility: hidden; /* Usando visibility para controle no mobile */
    }

    .dropdown-menu.active {
        visibility: visible; /* Tornar visível quando ativo */
    }

    /* Ajuste para os links ficarem em uma coluna no menu hambúrguer */
    .navbar-links ul {
        flex-direction: column;
        gap: 20px;
        padding-left: 0;
        margin: 0;
    }

    .navbar-item {
        width: 100%; /* Faz os links ocuparem toda a largura do menu */
        text-align: left; /* Alinha os links à esquerda */
    }

    .navbar-links ul li.logout-btn-mobile {
        display: block;
        text-align: center;
        background-color: #ffffff00;
        color: white;
        cursor: pointer;
        font-size: 16px;
        position: relative;
        right: 10px;
    }

    .navbar-links ul li.logout-btn-mobile:hover {
        color: #298be7;
    }
}
